<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmación</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" /> <!-- Tu archivo personalizado -->
</head>

<header th:replace="~{general/fragmentos :: header}"></header>

<body>
<div class="container mt-5 text-center">
    <h2 class="text-success">✅ Pedido actualizado correctamente</h2>
    <p>Gracias. El estado del pedido fue guardado con éxito.</p>
    <a th:href="@{/pedidos}" class="btn btn-outline-primary mt-3">Volver al listado</a>
</div>
</body>
</html>
