<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
 <!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentosAdmin :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentosAdmin :: header}"></header>
        <main class="container mt-5">
            <h2 class="mb-4"><i class="fa-solid fa-boxes-stacked me-2"></i> Historial Ventas</h2>
            
            <div class="mb-3">
                <a href="/ventas/ordenarPrecioDesc" class="btn btn-outline-primary me-2">Ordenar por Precio</a>
                <a href="/ventas/ordenarFechaDesc" class="btn btn-outline-primary me-2">Ordenar por Fecha</a>
                <a href="/ventas/reporte" class="btn btn-outline-primary">Generar Reporte</a>
            </div>
            
            <div id="tablaCustom">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>                            
                            <th>Fecha</th>         
                            <th>Producto</th>
                            <th>Precio</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="detallePedido : ${detallePedidos}">
                            <td th:text="${detallePedido.Pedido.idPedido}"></td>                            
                            <td th:text="${detallePedido.Pedido.fecha}"></td>
                            <td th:text="${detallePedido.Producto.nombre}"></td>
                            <td th:text="${'₡'+detallePedido.subtotal}"></td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer th:replace="~{general/fragmentosAdmin :: footer}"></footer>
    </body>
</html>
